$white: #fff;
$black: #000;
$main-color: #3d4543;
$blue: #083e4c;
$card-title: #545863;
$calc-bg: rgba(8, 62, 76, 0.5);
$calc-bg-hover: #005b73;
$calc-border: #026d89;
$gray: rgba(255, 255, 255, 0.7);
$gray-text: #778478;
$light-blue: #f1f5f5;

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./font/Gilroy-Medium.ttf") format("truetype");
}
