.slider {
  margin-bottom: 75px;
  @include breakpoint(1280) {
    margin-bottom: 50px;
  }
  @include breakpoint(768) {
    margin-bottom: 30px;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    @include breakpoint(475) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 20px;
    }

    &-title {
      color: $main-color;
      font-size: 42px;
      line-height: 120%;
      @include breakpoint(1280) {
        font-size: 36px;
      }
      @include breakpoint(768) {
        font-size: 26px;
      }
    }
  }
  &_actions {
    display: flex;
    align-items: center;
    gap: 20px;
    @include breakpoint(768) {
      gap: 10px;
    }
    @include breakpoint(475) {
      width: 100%;
      justify-content: space-between;
    }
    &-info {
      height: 58px;
      padding: 20px 25px;
      border-radius: 100px;
      border: 1px solid $blue;
      justify-content: center;
      gap: 10px;
      flex-shrink: 0;
      color: $blue;
      font-size: 16px;
      background: $white;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background: $blue;
        color: $white;
      }
      @include breakpoint(768) {
        font-size: 14px;
        padding: 8px;
        height: auto;
      }
    }
    &-arrows {
      display: flex;
      gap: 12px;
      @include breakpoint(768) {
        gap: 4px;
      }
      button {
        width: 58px;
        height: 58px;
        border-radius: 100px;
        background: $white;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        @include breakpoint(768) {
          width: 40px;
          height: 40px;
          svg {
            width: 40px;
            height: 40px;
          }
        }

        &:hover {
          svg {
            fill: $blue;

            .arrow {
              fill: $white;
            }
          }
        }
      }
    }
  }
  &_item {
    height: 320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    @include breakpoint(768) {
      background-size: cover;
      border-radius: 25px;
    }
    &:hover {
      .slider_item-title {
        color: $white;
        background-color: $blue;
      }
      .slider_item-btn {
        transform: rotate(90deg) scale(1.05);
        svg {
          circle {
            fill: $calc-bg-hover;
          }
        }
      }
    }

    &-title {
      display: inline-flex;
      margin-right: auto;
      width: auto;
      padding: 10px 12px;
      border-radius: 10px;
      background: $white;
      color: $card-title;
      font-size: 26px;
      line-height: 130%;
      transition: all 0.3s ease;
    }

    &-text {
      width: 80%;
      color: $white;
      line-height: 140%;
      padding: 18px 0;
      border-top: 1px solid $white;
      @include breakpoint(768) {
        padding: 10px 0;
      }
    }
    &-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease;
      @include breakpoint(1280) {
        bottom: 7px;
        svg {
          width: 55px;
          height: 55px;
        }
      }
      @include breakpoint(768) {
        right: 7px;
      }
    }
  }
}
